discord.py
lxml
colorthief
pyparsing
requests
sympy
psutil
bs4
cr-py
moviepy
spice_api
wikipedia
numpy
matplotlib
flickrapi
git+https://github.com/DiscordBotList/DBL-Python-Library
yarl<1.2
psycopg2
imgkit
