git+https://github.com/Rapptz/discord.py@rewrite
lxml
colorthief
pyparsing
requests
sympy
psutil
bs4
crasync
cr-py
urban-async
moviepy
spice_api
cleverwrap
git+https://github.com/roundar/myjson
wikipedia
numpy==1.6.2
matplotlib==1.1.1
