discord.py
lxml
colorthief
pyparsing
requests
sympy
psutil
bs4
cr-py
urban-async
moviepy
spice_api
cleverwrap
git+https://github.com/roundar/myjson
wikipedia
numpy
matplotlib
flickrapi
git+https://github.com/DiscordBotList/DBL-Python-Library
yarl<1.2
psycopg2
